/CSS490D_MP2_Martin_Metke/nbproject/private/
/CSS490D_MP3_Martin_Metke/nbproject/private/
*.swp
/CSS490D_MP4_Martin_Metke/nbproject/private/
/7.6.NotUsed-LineSupport/nbproject/private/
/CSS490D_MP5_Martin_Metke/nbproject/private/